.div_title{
  font-size:55px;
  font-weight:500;
  font-family: 'Courier New', Courier, monospace;

}

.div_jone{
  font-size:35px;
  font-family: 'Courier New', Courier, monospace;

}

.button_css{
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  
}

.p_css{
  font-family: 'Courier New', Courier, monospace;
  
}